@font-face {
    font-family: 'SeaOfJapan';
    src: url('../fonts/SeaofJapanJNL.woff2') format('woff2'),
         url('../fonts/SeaofJapanJNL.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
